/* login.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold; /* Deixando o título mais destacado */
}
.navbar {
    background-color: #191013;
}

.navbar-dark .navbar-brand {
    color: #f4f4f2;
}

.navbar-dark .navbar-nav .nav-link {
    color: #f4f4f2;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #d4cdc5;
}

.container {
    margin-top: 10vh; /* Ajustando margem verticalmente */
}

.form-group label {
    color: #000000;
}

.form-control {
    color: #f4f4f2;
}

.form-control::placeholder {
    color: #d4cdc5;
}

.btn-primary {
    background-color: #0066cc;
    border: none;
    transition: background-color 0.3s ease; /* Adicionando transição suave na mudança de cor */
}

.btn-primary:hover {
    background-color: #004080;
}

.btn-secondary {
    background-color: #5b88a5;
    border: none;
    transition: background-color 0.3s ease; /* Adicionando transição suave na mudança de cor */
}

.btn-secondary:hover {
    background-color: #243a69;
}
/* Estilos para a imagem do planeta na navbar */
.navbar-brand img {
    height: 30px;
    margin-right: 10px;
    transition: transform 0.3s;
}

.navbar-brand img:hover {
    transform: scale(1.2);
}
