.container {
    margin-top: 10vh; /* Ajustando margem verticalmente */
}

h2 {
    margin-bottom: 30px; /* Aumentando um pouco a margem inferior do título */
    font-weight: bold; /* Deixando o título mais destacado */
}

.btn-primary {
    background-color: #0066cc;
    border: none;
    transition: background-color 0.3s ease; /* Adicionando transição suave na mudança de cor */
}

.btn-primary:hover {
    background-color: #004080;
}

.btn-secondary {
    background-color: #999;
    border: none;
    transition: background-color 0.3s ease; /* Adicionando transição suave na mudança de cor */
}

.btn-secondary:hover {
    background-color: #666;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.navbar {
    background-color: #191013;
}

.navbar-nav {
    width: 100%;
    justify-content: flex-end; 
}

.navbar-dark .navbar-brand,
.navbar-dark .navbar-nav .nav-link {
    color: #f4f4f2;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #d4cdc5;
}

.navbar-brand img {
    height: 30px;
    margin-right: 10px;
    transition: transform 0.3s;
}

.navbar-brand img:hover {
    transform: scale(1.2);
}
